:root {
    --cor-back-cabecalho: #000000;
    --cor-back-cinza: #efefef;
    --cor-fonte-primaria: #ffffff;
    --cor-fonte-secundaria: #000000;
    --cor-back-azul: #1d75de;
    --cor-hover: #169b45;
    --fonte-principal: Arial, Helvetica, sans-serif;
    --cor-hover-footer: #1ed760;
}
